.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    border: none;
    border-radius: 10rem;
}

.page-section {
    padding: 8rem 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Navigation */

#navigationBar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
    background-color: #FFF;
    transition: background-color 0.2s ease;
    padding-bottom: 0;
    margin: 0;
}

.bmis-logo {
    height: 3.5rem;
    width: 7rem;
}

.log-in-btn {
    color: #4E97D1;
    background-color: #FFF;
    border: 1px solid #4E97D1;
    border-radius: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}

.log-in-btn:hover {
    color: rgb(4, 86, 154);
    border: 1px solid rgb(4, 86, 154);
    font-weight: 500;
}

#navigationBar .navbar-nav .nav-item .nav-link {
    color: #4E97D1;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 0.40rem 0;
}


#navigationBar .navbar-nav .nav-item .nav-link:hover {
    color: rgb(4, 86, 154);
}

@media (min-width: 992px) {
    #navigationBar {
        box-shadow: none;
        background-color: #FFF;
        padding: 0;
        margin-bottom: 0;
    }

    .bmis-logo {
        height: 6rem;
        width: 12rem;
    }

    .log-in-btn {
        color: #4E97D1;
        background-color: #FFF;
        border: 1px solid #4E97D1;
        border-radius: 10rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 3rem;
        font-size: 1.4rem;
    }

    .log-in-btn:hover {
        color: #FFF;
        background-color: #4E97D1;
        border: 1px solid #4E97D1;
        font-weight: 500;
    }

    #navigationBar .navbar-nav .nav-item .nav-link {
        color: #6c757d;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 0.75rem 0;
    }

    #navigationBar .navbar-nav .nav-item .nav-link {
        color: #4E97D1;
        padding: 0 1rem;
    }

    #navigationBar .navbar-nav .nav-item .nav-link:hover {
        color: rgb(4, 86, 154);
    }
}

@media (min-width: 1200px) {

}

/* Masthead */

header.masthead {
    padding-top: 10rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.8) 100%), url("./assets/img/rendered_blank_og.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1 {
    font-size: 2.25rem;
}

.masthead-btn {
    color: #FFF;
    font-family: "Montserrat Medium", sans-serif;
    border: 1px solid #FFF;
    border-radius: 10rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.masthead-btn:hover {
        color: #4E97D1;;
        background-color: #FFF;
        border: 0px solid #FFF;
    }

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
    }
    
    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }

    .masthead-btn {
        color: #FFF;
        font-family: "Montserrat Medium", sans-serif;
        border: 1px solid #FFF;
        border-radius: 10rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 0.5rem;
        font-size: 1rem;
    }

    .masthead-btn:hover {
        color: #4E97D1;;
        background-color: #FFF;
        border: 0px solid #FFF;
        font-weight: 600;
    }
    

}

@media (min-width: 1200px) {
    header.masthead {
        padding-left: 15px;
        padding-right: 15px;
    }

    header.masthead h1 {
        font-size: 3.5rem;
        padding-bottom: 1rem;
    }

    .container, .container-nav {
        max-width: 90%;
    }

    .container-table {
        width: 65%;
    }

    .form {
        width: 50%;
        margin: auto;
    }

    .submit-btn {
        width: 10%;
        margin: auto;
    }
}

/* Global Section Styling */

.section-heading {
    font-family: "Montserrat Bold", sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 3rem;
  }
  
.section-para {
    color: #333;
    font-size: 24px;
    line-height: normal;
  }

.page-section{
    width: 100%;
  }


/* Snapshot Section */

.fa-folder-open, .fa-exclamation-triangle, .fa-sitemap, .fa-check-square {
    color: #4E97D1;
  }

/* Why BMIS? Section */

#why-bmis {
    background-color: #F1F1F1;
}

.img-responsive {
    width: 90%;
  }
  
/* Comparison Section */

.container-table {
    padding-top: 10rem; 
}

.table td {
    text-align: center;
    font-size: 2rem;
}


#table-sub-head {
    border-top: none;
    font-size: 2rem;
}

#table-col-head {
    padding: 1rem 0;
}

/* Contact Section */

.contact-number {
    color: #F1B129; 
    font-family: "Montserrat SemiBold", sans-serif;
    font-weight: 600;
  }
  
 #contact {
    background-image: url("./assets/img/contact_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 80vh;
  }

form {
      width: 30%;
  }


/* Footer */

#footer, #footer a {
    background-color: #4E97D1;
    color: #FFF;
}

/* Setup */
/* .container {
    border: 1px dotted green;
}

.row {
    border: 1px solid red;
}

.col {
    border: 1px solid blue;
} */

/* ABOUT PAGE */

/* Banner */

.jumbotron {
    background-color: #608FA5;
    color: #FFF;
    padding: 10em 1em;
    text-align: center;
}

@media (min-width: 992px) {
    .jumbotron {
        background-color: #608FA5;
        color: #FFF;
        padding: 10em 10em;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        background-color: #608FA5;
        color: #FFF;
        padding: 15em 12em;
        text-align: center;
    }
}



#plans-img {
    width: 80%;
    background-size: cover;
}

#solution-img {
    width: 65%;
    background-size: cover;
}

#review-img {
    width: 70%;
    background-size: cover;
}